body {
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
}

main .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

main .row button {
  padding: 5px 10px;
  font-weight: bold;
}

main #answer {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}

main .row.errors {
  color: red;
  align-self: center;
}
