* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-top: 2rem;
}

#fruit {
  font-weight: 400;
}
